@charset 'utf-8';

#milight-mask{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background:rgba(0,0,0,0.6) url('../../images/loading/loading.gif') no-repeat center center;
	background-size: 100px 100px;	
	width: 100%;
	height: 100%;
}

