@charset 'utf-8';

#milight-prompt{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 250px;
	margin: -40px 0 0 -125px;
	z-index: 10000;
	border-radius: 10px;
	box-sizing: border-box;

	color: #fff;
	padding: 20px;
	overflow: auto;
}

#milight-prompt .prompt_close{
	position: absolute;
	top: -5px;
	right: 5px;
	font-size: 30px;
}

#milight-prompt .prompt_close:hover{
	cursor: pointer;
}

.prompt-success{
	background-color: rgba(108,191,141,0.8);
}

.prompt-warning{
	background-color: rgba(222, 150, 26, 0.8);
}

.prompt-error{
	background-color: rgba(206, 60, 55, 0.8);
}